.HeaderPlanet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: lighter;
    border-bottom: 0.5px solid #ffffff67;
    padding: 20px;
    font-family: "Roboto Condensed", sans-serif;

    .ButtonMenu {
        background: none ;
        border: none;
        cursor: pointer;

    }

}