

.InformationPlanets {
    padding: 0px 20px;

    @mixin FontStyle ($text-transform, $font-size, $font-weight, $letter-spacing){
        text-transform: $text-transform;
        font-size: $font-size;
        font-weight: $font-weight;
        letter-spacing: $letter-spacing;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        
        

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include FontStyle(uppercase, 0.7rem, 500, normal);
            color: $gray-light;
            border: 1px solid $gray-light;
            padding: 14px 18px;
            

            span {
                @include FontStyle(uppercase, 1.5rem, 500, 0rem);
                color: white;
            }
        }
    }
}