@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.HeaderPlanet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4039215686);
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
.HeaderPlanet .ButtonMenu {
  background: none;
  border: none;
  cursor: pointer;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4039215686);
}
.NavBar li {
  cursor: pointer;
  transition: all 0.5s;
}
.NavBar li:hover {
  font-weight: 700;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
main figure img {
  width: 150px;
  padding: 45px 0px;
}
main h2#PlanetName {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: normal;
  padding-bottom: 20px;
}
main p#DescriptionPlanet {
  text-align: center;
  padding-bottom: 15px;
  text-transform: normal;
  font-size: 0.9rem;
  font-weight: 350;
  letter-spacing: 1px;
  line-height: 1.5rem;
}
main .LinkWikioedia {
  color: rgba(255, 255, 255, 0.4745098039);
  font-size: 0.9rem;
  font-weight: 450;
}
main .LinkWikioedia a {
  color: rgba(255, 255, 255, 0.4745098039);
}
main .LinkWikioedia::after {
  content: url("../assets/icon-source.svg");
}

.InformationPlanets {
  padding: 0px 20px;
}
.InformationPlanets ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.InformationPlanets ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.4745098039);
  border: 1px solid rgba(255, 255, 255, 0.4745098039);
  padding: 14px 18px;
}
.InformationPlanets ul li span {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0rem;
  color: white;
}

nav.MenuNav {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: rgb(33, 33, 107);
  width: 55vw;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
nav.MenuNav.open {
  right: 0%;
}
nav.MenuNav ul .btnColumn {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(33, 33, 107);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4745098039);
}
nav.MenuNav ul .btnColumn .ButtonMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
nav.MenuNav ul li:not(:first-child) {
  background-color: rgb(33, 33, 107);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 25px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4745098039);
  transition: all 0.5s ease-in-out;
}
nav.MenuNav ul li:not(:first-child):hover {
  padding: 27px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.486), 0 0 10px rgba(255, 255, 255, 0.445);
}
nav.MenuNav ul li:not(:first-child) a {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}

.App {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  overflow-y: auto;
}

/*# sourceMappingURL=App.css.map */
